
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<Style type="text/css">
	   body {
		background-color:white;
		color: black;
		margin: 10px;
		padding: 10px;
		border-color:grey;
		background-color: white;
		width: 1000px;
		font-family: 'Roboto', sans-serif;
	   }
	   h1 {
		font-family: comic sans;
		color:silver;
		padding: 5px;
		font-size: 10px;
		}
	   h2 { 
		font-size: 100%;
		}
	   h2, h3, h4, h5, h6, {
		margin-left: 300px;
		clear: right;
		}
	   h2, h5.gray-color { 
		color: gray ;
		}
	   h3 {
		font-size: 15px;
		font-weight: normal;
		color: black;
		}
	   h6, h5 {
		font-size: 17px;
		}
	   h6 {
		width: 140px;
		padding-right:inherit;
		margin-right:inherit;
		border-color: black;
		border-width: thin;
		border-style: solid;
		}
		
		.first {
		clear: right;
		display: inline-block;
		}
		.Heading {
		border: solid thin;
		border-color: gray;
		padding 1x 2  x;
		background-color: black;
		width: 1550px;
		float: center;
		}
		.highlight {
		color: white;
		padding: 2px 100px;
		font-size: 15px;
		font-weight: normal;
		float: center; 
		}
		a.link {
		color: silver;
		}
		a.visited {
		color: silver;
		}
		a.active {
		color: silver;
		}
		a.hover {
		color: blue;
		}
		div. hover {
		color: blue; 
		}
		.blogheading {
		font-size: 20px;
		font-weight: thin;
		}
		.image {
		float: center;
		display: inline-block;
		}
		
		
	</style>
	
	<div class="Heading">
	<h1>
	<div class="blogheading">
	<strong>Elite Life </strong>
	</div>
		<span class="highlight">
		<%= link_to 'Home', root_path %>
		</span>
		<span class="highlight">
		<%= link_to 'About', about_path %>
		</span>
		<span class="highlight">
		TOPICS
		</span>
		<span class="highlight">
		COMMUNITY
		</span>
		<span class="highlight">
		CONTACT
		</span>
	
	</h1>
	</div>
	
</head> 

<body>

	<div class="first">
	<h2 class= "gray-color">
		List of things:
	</h2>
	
	<h3>
	
	<ul>
		<li>
			Thing 1
		</li>
		<li>
			Thing 2
		</li>
		<li>
			Thing 3
		</li>
		<li>
			Thing 4
		</li>
	</ul>
	
	</h3>
	</div>
	
	



</body>

</html>
